<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FilmApp</title>
</head>
<body>

<a href="/">Main menu</a> <br>
<a href="{% url "register" %}">Register</a><br>
<a href="{% url "login" %}">Login</a><br>
<a href="{% url "logout" %}">Logout</a><br><br>


<a href="{% url "films" %}">Films</a><br>
<a href="{% url "directors" %}">Directors</a><br>
<a href="{% url "genres" %}">Genres</a><br><br>

<a href="{% url "film" %}">Add film</a><br>
<a href="{% url "director" %}">Add director</a><br>
<a href="{% url "genre" %}">Add genre</a><br><br>

{% block content %}

{% endblock %}

{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}

</body>
</html>